//====================================================================================================
.page {
  // .page__main
  &__main {
  }
  // .page__features
  &__features {
  }
  // .page__advantages
  &__advantages {
  }
  // .page__category
  &__category {
  }
  // .page__about
  &__about {
  }
  // .page__testimodals
  &__testimodals {
  }
}
.main {
  background-color: #121212;
  // .main__container
  &__container {
    padding-top: rem(175);
    padding-bottom: rem(100);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .main__title
  &__title {
    @include adaptiveValue("font-size", 50, 36);
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: rem(585);
  }
  // .main__list
  &__list {
    display: flex;
    flex-direction: column;
  }
  // .main__image
  &__image {
    margin: 0 auto;
    max-width: rem(1440);
    img {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}
.list-main {
  // .list-main__item
  &__item {
    padding-top: rem(16);
    padding-bottom: rem(8);
    padding-right: rem(6);
    border-bottom: 1.2px solid #FFFFFF;
    color: #FFFFFF;
    width: rem(235);
  }
  // .list-main__link
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: rem(16);
    line-height: 133.02%;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: #FF7500;
        svg {
          path {
            stroke: #FF7500;
          }
          
        }
      }
    }
  }
}

.features {
  padding-top: rem(71);
  padding-bottom: rem(110);
  // .features__container
  &__container {
    max-width: rem(840);
  }
  // .features__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: space-between;
    gap: rem(20);
  }
  // .features__item
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(14);
  }
  // .features__icon
  &__icon {
    height: rem(74);
    width: rem(74);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 117, 0, 0.04);
  }
  // .features__caption
  &__caption {
    font-weight: 500;
    font-size: rem(16);
    line-height: 131.02%;
    color: #565656;
  }
}

.advantages {
  margin-bottom: rem(100);
  // .advantages__container
  &__container {
    display: flex;
    flex-direction: column;
  }
  // .advantages__top
  &__top {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(85);
      @media (max-width:$mobile){
        margin-bottom: rem(45); 
      }
    }
  }
  // .advantages__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(18);
    }
  }
  // .advantages__label
  &__label {
    text-align: center;
    margin: 0 auto;
    max-width: rem(475);
    font-weight: 500;
    font-size: rem(16);
    line-height: 175.52%;
    color: #292929;
    opacity: 0.4;
  }
  // .advantages__bottom
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  // .advantages__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    @include adaptiveValue("gap", 60, 20);
    @media (min-width:em(850)){
      display: flex;
      flex-direction: column;
    }
  }
  // .advantages__image
  &__image {
    position: relative;
    margin-right: rem(-190);
    @media (max-width: em(850)){
      display: none;
    }
    img {
      max-width: 100%;
    }
  }
}
.item-advantages {
  max-width: rem(475);
  // .item-advantages__icon
  &__icon {
    height: rem(50);
    width: rem(50);
    background: #FF7500;
    border-radius: 50%;
    color: #FFFFFF;
    font-weight: 600;
    font-size: rem(24);
    line-height: 133.02%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: rem(14);
      @media (max-width:$mobile){
        height: rem(40);
        width: rem(40);
        margin-bottom: rem(6); 
      }
    }
  }
  // .item-advantages__title
  &__title {
    font-weight: 700;
    font-size: rem(24);
    line-height: 133.02%;
    color: #292929;
    &:not(:last-child) {
      margin-bottom: rem(14);
      @media (max-width:$mobile){
        font-size: rem(20);
        margin-bottom: rem(6); 
      }
    }
  }
  // .item-advantages__text
  &__text {
    font-weight: 500;
    font-size: rem(16);
    line-height: 175.52%;
    color: #292929;
    opacity: 0.3;
  }
}

.category {
  margin-bottom: rem(100);
  // .category__container
  &__container {
  }
  // .category__top
  &__top {
    text-align: center;
    max-width: rem(475);
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: rem(45);
    }
  }
  // .category__subtitle
  &__subtitle {
    font-weight: 700;
    font-size: rem(24);
    line-height: 133.02%;
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
  // .category__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(18);
    }
  }
  // .category__label
  &__label {
    font-weight: 500;
    font-size: rem(16);
    line-height: 175.52%;
    opacity: 0.4;
  }
  // .category__list
  &__list {
    display: grid;
    row-gap: rem(32);
    column-gap: rem(40);
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(auto, 1fr);
    overflow: hidden;
    @media (max-width:$pc){
      grid-template-columns: auto;
    }
    @media (max-width:$mobile){
      display: flex;
      flex-wrap: wrap;
    }
  }
  // .category__item
  &__item {
    &--center {
      grid-row-start: 1;
      grid-column-start: 2;
      grid-row-end: 3;
      grid-column-end: 3;
    }
  }
}
.item-category {
  @media (max-width:$mobile){
    width: 100%;
    text-align: center;
  }
  // .item-category__link
  &__link {
  }
  // .item-category__image
  &__image {
    
    margin-bottom: rem(18);
  }
  // .item-category__info
  &__info {
  }
  // .item-category__label
  &__label {
    font-weight: 500;
    font-size: rem(14);
    line-height: 133.02%;
    opacity: 0.6;
    margin-bottom: rem(6);
  }
  // .item-category__title
  &__title {
    font-weight: 600;
    font-size: rem(22);
    line-height: 133.02%;
  }
}

.about {
  position: relative;
  background: #121212;
  padding-top: rem(150);
  padding-bottom: rem(150);
  // .about__container
  &__container {
  }
  // .about__content
  &__content {
    max-width: rem(380);
    z-index: 1;
    position: relative;
  }
  // .about__title
  &__title {
    position: relative;
    color: #FFFFFF;
    &::before{
      content:'';
      height: 4px;
      width: 174px;
      background: #FF7500;
      position: absolute;
      bottom: -16px;
    }
    &:not(:last-child) {
      margin-bottom: rem(60);
    }
  }
  // .about__text
  &__text {
    font-weight: 500;
    font-size: rem(18);
    line-height: 162.52%;
    color: #FFFFFF;
    opacity: 0.3;
    p:not(:last-child) {
      padding-bottom: rem(25);
    }
    &:not(:last-child) {
      padding-bottom: rem(36);
    }
  }
  // .about__button
  &__button {
    display: inline-flex;
    padding: rem(14) rem(46);
    align-items: center;
    justify-content: center;
    background-color: #FF7500;
    border-radius: 27px;
    color: #fff;
    font-weight: 500;
    font-size: rem(16);
    line-height: 162.52%;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        background-color: darken($color: #FF7500, $amount: 10);
      }
    }
  }
  // .about__image
  &__image {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    z-index: 0;
    @media (max-width:em(1000)){
      max-width: 40%; 
    }
    @media (max-width: em(700)){
      display: none;
    }
  }
}

.testimodals {
  // .testimodals__container
  &__container {
    display: flex;
  }
  // .testimodals__content
  &__content {
    max-width: rem(350);
  }
  // .testimodals__title
  &__title {
  }
  // .testimodals__info
  &__info {
  }
  // .testimodals__rating
  &__rating {
  }
  // .testimodals__people
  &__people {
  }
  // .testimodals__list
  &__list {
  }
  // .testimodals__item
  &__item {
  }
}
.item-testimodals {
  // .item-testimodals__icon
  &__icon {
    height: rem(56);
    width: rem(56);
    background: url('@img/testimodals/shape.svg') center / contain no-repeat;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    img {
      z-index: 2;
    }
  }
  // .item-testimodals__info
  &__info {
  }
  // .item-testimodals__title
  &__title {
  }
  // .item-testimodals__text
  &__text {
  }
}

//====================================================================================================
